{% extends "index.html" %}
{% block menu %}
    <li id="active"><a href="/" id="current">Inicio</a></li>
    <li><a href="/museos">Todos</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/cargar">Cargar</a></li>
{% endblock %}

{% block options %}
    {% if acceso %}
          <form action="/">
            <input type="submit" value="Página principal"></form>
    {% else %}
          <form action="/acceso" method="POST">
            {% csrf_token %}
            <input type="submit" value="Filtra por la accesibilidad"></form>
    {% endif %}
  {% endblock %}
    {% block contenido %}
     </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
      {% if acceso %}
        {{ filtro_acc|safe }}
      {% else %}
        {{ respuesta|safe }}
      {% endif %}
   {% endblock %}
  {% block usuarios %}
    <h4><span class="menu_first_letter">Usuarios que están registrados: </span></h4>
    {% for user in lista_usuarios %}
      <li id="active"></li>
      <li><a href="/{{ user.username }}" id="current">{{ user.username }}</a></li>
    {% endfor %}
  {% endblock %}

